<%= form_for(@link, class: "form-inline") do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <p><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</p>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group new-link">
    <div class="input-background">
      <i class="icon-font"></i>
      <%= f.text_field :title, placeholder: "Title", :class => "span4" %>
    </div>
    <div class="input-background">
      <i class="icon-link"></i>
      <%= f.text_field :url, placeholder: "URL" , :class => "span4" %>
    </div>
    <%= f.submit "Submit Link", class: "btn btn-success" %>
  </div>
<% end %>
