<%= div_for link, class: "recommended-link" do %>
  <div class="row">
    <div class="col-sm-1">
      <div class="votes">
        <%= render partial: "votes", locals: {link: link} %>
      </div>
    </div>
    <div class="col-sm-9">
      <h2><%= link_to link.title, go_link_path(link), target: :blank %></h2>
      <p class="description"><%= link.description %></p>
      <p class="submitted-by">
        <%= link.link_type.capitalize %> submitted by <%= link.user.try(:name) %>
        | <%= pluralize link.view_count, "view" %>
        | <%= link_to link do %>
            <% content_tag :span, "Comments", class: "disqus-comment-count", data: { disqus_url: link_url(link) } %>
          <% end %>
        <% if user_signed_in? && link.user == current_user %>| <%= link_to "Edit", edit_link_path(link) %><% end %>
      </p>
    </div>
    <div class="col-sm-2">
      <%= link_to image_tag(link.image, class: "img-responsive img-rounded"), go_link_path(link), target: :blank %>
    </div>
  </div>
<% end %>
