<h1>Editing link</h1>

<%= render 'form' %>

<% if @link.persisted? %>
  <div class="well">
    <% if @link.podcast.persisted? %>
      <h4>Podcast</h4>
      <%= link_to @link.podcast.audio.url do %>
        <i class="icon-headphones"></i> <%= @link.podcast.name %>
      <% end %>
    <% else %>
      <%= render partial: "podcasts/form" %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', links_path %>
