<% @links.each do |link| %>
  <div class="link well well-small">
    <%= link_to link.url do %>
      <strong><%= link.title %></strong>
      <small>(<%= link.url %>)</small>
    <% end %>

    <div class="link-actions">
      <%= link_to edit_link_path(link) do %>
        <i class="icon-cog"></i>
      <% end %>
      <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="icon-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>
