<p id="notice"><%= notice %></p>

<%= render partial: "link", locals: {link: @link} %>

<h4>Comments</h4>

<% @link.comments.each do |comment| %>
  <div class="comment">
    <div class="avatar">
      <%= gravatar_image_tag(comment.user.email, gravatar: {size: 60, default: "mm"}) %>
    </div>

    <div>
      <small><%= comment.user.full_name %> commented</small>
    </div>

    <div class="body">
      <%= comment.body %>
    </div>
  </div>

  <hr />
<% end %>


<% if user_signed_in? %>
  <div class="comment">
    <div class="avatar">
      <%= gravatar_image_tag(current_user.email, gravatar: {size: 60, default: "mm"}) %>
    </div>
    <div class="body">
      <%= form_for [@link, @comment] do |f| %>
        <%= f.text_area :body, rows: 4 %>

        <div class="pull-left">Holy shit this supports markdown</div>
        <div class="pull-right"><%= f.submit class: "btn" %></div>
      <% end %>
    </div>
  </div>
<% end %>
