<h4>Feed Forward Hosts</h4>
<div class="contributor">
  <%= gravatar_image_tag("excid3@gmail.com", gravatar: {size: 60, default: "mm"}) %>
  <div class="name">Chris Oliver</div>
  <div class="site"><%= link_to "excid3.com", "http://excid3.com" %></div>
  <div class="twitter"><%= link_to "@excid3", "https://twitter.com/excid3" %></div>
</div>
<div class="contributor">
  <%= gravatar_image_tag("cosmodrome@gmail.com", gravatar: {size: 60, default: "mm"}) %>
  <div class="name">Rob Long</div>
  <div class="site"><%= link_to "archetyp.al", "http://archetyp.al/", target: "_blank" %></div>
  <div class="twitter"><%= link_to "@plantimals", "https://twitter.com/plantimals", target: "_blank" %></div>
</div>

<% if user_signed_in? %>
  <h4>Admin</h4>
  <%= link_to "Upload a Podcast", new_podcast_path, class: "btn" %>
<% end %>
