<h4>Feed Forward Hosts</h4>

<div class="contributor">
  <%= link_to avatar_image("excid3@gmail.com"), "http://excid3.com", target: "_blank" %>
  <div class="name"><%= link_to "Chris Oliver", "http://excid3.com" %></div>
  <div class="twitter">
    <a href="https://twitter.com/excid3" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @excid3</a>
  </div>
</div>
<div class="contributor">
  <%= link_to avatar_image("cosmodrome@gmail.com"), "http://archetyp.al", target: "_blank" %>
  <div class="name"><%= link_to "Rob Long", "http://archetyp.al/", target: "_blank" %></div>
  <div class="twitter">
    <a href="https://twitter.com/plantimals" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @plantimals</a>
  </div>
</div>

<hr />

<div>
  <strong>Have an article to submit? Want to join us?</strong>
  <br/>
  <%= mail_to "chris@excid3.com?subject=I+want+to+join+FeedForward.io!", "Email us" %> or <%= link_to "send us a tweet", "https://twitter.com/intent/tweet?text=%40excid3+%40plantimals+I+want+to+join+FeedForward.io%21&related=excid3,plantimals" %>.
</div>

<% if user_signed_in? %>
  <hr />
  <h4>Admin</h4>
  <%= link_to "Upload a Podcast", new_podcast_path %>
<% end %>
