<div class="row">
  <div class="span8">
    <h1><%= link_to "The Feed Forward Podcast", podcasts_path %></h1>

    <% @podcasts.each do |podcast| %>
      <div class="link well well-small">
        <div class="details">
          Posted <%= time_ago_in_words podcast.created_at %> ago
        </div>

        <div>
          <%= link_to podcast, target: "_blank" do %>
            <strong><i class="icon-headphones"></i> <%= podcast.name %></strong>
          <% end %>
        </div>

        <br />

        <% if user_signed_in? %>
          <div class="pull-right hits"><span class="label"><%= pluralize podcast.link_hit.try(:count) || 0, "hit" %></span></div>

          <div class="link-actions">
            <%= link_to edit_podcast_path(podcast) do %>
              <i class="icon-cog"></i>
            <% end %>
            <%= link_to podcast, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="icon-trash"></i>
            <% end %>
          </div>
        <% end %>

        <p><%= podcast.description.html_safe %></p>

        <div>
          <%= link_to go_podcast_path(podcast), class: "btn" do %>
            <i class="icon-download-alt"></i> Download Episode
            <small><%= number_to_human_size podcast.audio_file_size %></small>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  <div class="span4">
    <h4>Subscribe To Feed Forward</h4>
    <div>
      <b>
        <%= link_to podcasts_path(format: :rss) do %>
          <i class="icon-rss"></i>
          Podcast RSS Feed
        <% end %>
      </b>
    </div>
    <div>iTunes <small>(coming soon)</small></div>

    <hr />

    <%= render "about" %>
  </div>
</div>
