<!DOCTYPE html>
<html>
<head>
  <title>Feedist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, links_url(format: "rss")) %>
</head>
<body>

<%= yield %>

</body>
</html>
